@use './variables' as *;

.home-section {
  min-height: 80vh;
  align-items: center;
}

.home-section-content, .industry-experience-section, .technologies-section {
  margin: 1%;
  padding: 2%;
  background: white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.technologies-section {
  // justify-content: space-between;
}

.industry-start {
  display: flex;
  flex-direction: row;
}

.industry-experience-heading {
  align-self: center;
  font-size: 2.5vw;
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    font-size: 2.2vw;
  }
  @media screen and (max-width: $tablet) {
    font-size: 2.7vw;
  }
}

.industry-experience-cards {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.industry-experience-card-description {
  font-size: 1.3vw;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    font-size: 2vw;
  }

  @media screen and (max-width: $tablet) {
    font-size: 2.3vw;
  }
}

.industry-experience-card {
  align-self: center;
  text-align: center;
  width: 20%;
}

.industry-experience-card > img {
  max-height: 100px;
  // height: inherit;
  // max-width: 100%;
  // height: 50%;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    max-height: 70px;
  }

  @media screen and (max-width: $tablet) {
    max-height: 40px;
  }

}

.industry-vertical-line {
  border-left: 5px solid $dark-black;
  border-radius: $border-radius;
  margin-left: 15%;
  // margin-right: 2%;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    border-left: 3px solid $dark-black;
  }

  @media screen and (max-width: $tablet) {
    border-left: 2px solid $dark-black;
  }
}

.latest-section, .industry-experience-section, .technologies-section {
  display: flex;
  flex-direction: row;
}

.industry-experience-section {
  justify-content: space-between;
  padding-right: 5%;
}

.subsection-title {
  font-size: 2.5vw;
  width: 18%;
  align-self: center;
}

.description-content {
  margin: 1%;
  font-size: 1.5vw;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    font-size: 2.2vw;
  }

  @media screen and (max-width: $tablet) {
    font-size: 3.3vw;
  }
}

.technologies-list {
  align-self: center;
  padding-left: 5%;
  width: 80%;
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    padding-left: 3%;
  }

  @media screen and (max-width: $tablet) {
    padding-left: 0;
  }

}

.technologies-list > ul {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;

  font-size: 1.5vw;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    font-size: 1.7vw;
  }

  @media screen and (max-width: $tablet) {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-size: 3.3vw;
  }



}

.subsection-vertical-line {
  border-left: 5px solid $dark-black;
  border-radius: $border-radius;
  margin-left: 1%;
  margin-right: 1%;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    border-left: 3px solid $dark-black;
  }

  @media screen and (max-width: $tablet) {
    border-left: 2px solid $dark-black;
  }

  // -webkit-animation-duration: $spread-out-horizontal-duration;
  // animation-duration: $spread-out-horizontal-duration;
  //
  // -webkit-animation-name: spreadOutHorizontal;
  // animation-name: spreadOutHorizontal;
}
