@import './variables.scss';
@import './animations.scss';

.text-icon {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: $very-small-text-size;
}

.project-icon-row {
  position: absolute;
  bottom: 5%;
  right: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-icon {
  margin-left: 5px;
  margin-right: 5px;
  fill: $dark-black;
  width: 40px;
  height: 40px;
  transition: fill, opacity ease 0.3s;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    height: 32px;
    width: 32px;
  }

  @media screen and (max-width: $tablet) {
    height: 24px;
    width: 24px;
  }

  &:hover {
    fill: gray;
    opacity: 0.4;
  }
}

.navbar-icons-row {
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-icon {
  margin-left: 1vw;
  margin-right: 1vw;
  height: 2.5vw;
  width: 2.5vw;
  fill: white;
  transition: fill ease 0.2s;
  @media screen and (max-width: $desktop) {
    margin-left: 1vw;
    margin-right: 1vw;
    height: 3.5vw;
    width: 3.5vw;
  }

  &:hover {
    fill: gray;
  }
}

.blog-icon {
  fill: black;
  height: 5%;
  width: 5%;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    height: 7%;
    width: 7%;
  }

  @media screen and (max-width: $tablet) {
    height: 10%;
    width: 10%;
  }

}
