@import './variables.scss';
@import './animations.scss';

.top-section {
  font-family: 'Playfair Display', serif;
  color: white !important;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;

  // background-image: url('../images/ShashwatKathuria.jpg');
  // background-repeat: no-repeat;
  // background-size: 100% 100%;

  // @media screen and (min-width: $tablet) and (max-width: $desktop) {
  //   background-image: url('../images/ShashwatKathuria-2.jpg');
  // }
  // @media screen and (max-width: $tablet) {
  //   background-image: url('../images/ShashwatKathuria-3.jpg');
  // }

  height: fit-content;
  border-radius: $border-radius;
  color: white;
  margin: 2px;
  padding: 60px;

  @media screen and (max-width: $desktop) {
    padding: 5%;
  }

  box-shadow: $box-shadow;

  transition: all ease 50ms;
  -webkit-animation-duration: $fade-in-duration;
  animation-duration: $fade-in-duration;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.top-section-image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: $border-radius;
  width: 100%;
  height: 100%;
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
}

// #my-description {
//   font-size: $medium-text-size !important;
//   width: 400px;
//   @media screen and (min-width: $tablet) and (max-width: $desktop) {
//     // font-size: $small-text-size !important;
//     // width: 300px;
//     display: none;
//   }
//   @media screen and (max-width: $tablet) {
//     display: none;
//     // font-size: $very-small-text-size !important;
//     // width: 100px;
//   }
// }

.navbar-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.navbar-right {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 6%;
  margin-right: 5%;
  font-size: 1.4vw;
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    font-size: 2vw;
  }
  @media screen and (max-width: $tablet) {
    font-size: 2.1vw;
  }
}

.main-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar-title {
  font-size: 3.8vw;
  align-self: center;
  width: fit-content;
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    font-size: 4vw !important;
  }
  @media screen and (max-width: $tablet) {
    font-size: 4vw !important;
  }
}
.navbar-option {
  color: inherit;
  font-size: 2.8vw !important;
  text-decoration: none !important;
  transition: color ease 0.2s;
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    font-size: 3.4vw !important;
  }
  @media screen and (max-width: $tablet) {
    font-size: 3.6vw !important;
  }


  &:hover {
    color: $navbar-option-hover !important;
  }
}

.vertical-line {
  border-left: 6px solid white;
  border-radius: $border-radius;
  margin-left: 10%;
  margin-right: 10%;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    margin-left: 5%;
    margin-right: 5%;
    border-left: 4px solid white;
  }

  @media screen and (max-width: $tablet) {
    margin-left: 3%;
    margin-right: 3%;
    border-left: 2px solid white;
  }

  -webkit-animation-duration: $spread-out-horizontal-duration;
  animation-duration: $spread-out-horizontal-duration;

  -webkit-animation-name: spreadOutHorizontal;
  animation-name: spreadOutHorizontal;
}

.horizontal-line {
  border-top: 5px solid $dark-black;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 0.5%;
  border-radius: $border-radius;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    border-top: 3px solid $dark-black;
  }

  @media screen and (max-width: $tablet) {
    border-top: 2px solid $dark-black;
  }

  -webkit-animation-duration: $spread-out-vertical-duration;
  animation-duration: $spread-out-vertical-duration;
  -webkit-animation-name: spreadOutVertical;
  animation-name: spreadOutVertical;
}
