<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
        <title>Shashwat Kathuria</title>
        <style>
		.footer {
  background: #061D25;
  padding: 10px 0;
}
.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: white;
}

@media screen and (min-width: 699px) {
  #breakit{
	display:none
  }
}
</style>

        <script>
        if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
        }
        </script>
    </head>

<body background="./../images/i5.jpg" style="background-size: auto auto;">

    <nav id="mynavbar" class="navbar navbar-expand-lg navbar-dark bg-transparent" >
      <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
            <a class="navbar-brand" href="./index.html"><h2 style="color:white;text-align:center;font-size:35px" class="lead">Shashwat Kathuria</h2></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link lead" href="./index.html" style="color:white;font-size:20px">Home <span class="sr-only">(current)</span></a>
                </li>

				<li class="nav-item">
					<a class="nav-link lead" href="./projects.html" style="color:white;font-size:20px">Projects</a>
				</li>

                <li class="nav-item">
                    <a class="nav-link lead" href="./resume.html" style="color:white;font-size:20px">Resume</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link lead" href="./contact.html" style="color:white;font-size:20px">Contact</a>
                </li>

            </ul>

        </div>
      </div>
    </nav>

    <div class="dropdown-divider" style="margin-top:0px;margin-left:5%;margin-right:5%;margin-bottom:0px"></div>

	<div>
		<div class="jumbotron jumbotron-fluid" style = "margin:0px;padding:0px;background:rgba(0,0,0,0);color:black;">
		<footer class="footer" style="margin:0px;padding:0px">
			</div>
				   <div class="text-center" style="background-color:rgba(0,0,0,0)">
				<p class="lead" style="color:white;margin-bottom:0px" >Facebook:<a href="https://www.facebook.com/profile.php?id=1317973766" class="btn btn-social-icon btn-lg btn-facebook" style="color:white"><i class="fa fa-facebook"></i></a>
				GitHub:<a href="https://github.com/shashwatkathuria" class="btn btn-social-icon btn-lg btn-github" style="color:white"><i class="fa fa-github"></i></a>
				<br id="breakit">Email: kathuria.1@iitj.ac.in</p>
			</div>
		</footer>
	</div>
	<div class="dropdown-divider" style="margin-top:0px;margin-left:35%;margin-right:35%"></div>


	<div class="jumbotron jumbotron-fluid" style = "margin-left:5%;margin-right:5%;background:rgba(200,200,200,0.8);color:black;">
			<div class="container">


				<h1 class="lead" style="font-size:40px;text-align:center">About Me</h1>
				<hr class="my-4">
				<p class="lead" style="text-align:center;font-size:25px;margin-bottom:0px">EDUCATION</p>
				<div class="dropdown-divider" style="margin-top:0px;margin-left:40%;margin-right:40%;border-color:black"></div>
				<h1 class="lead" style="text-align: center;font-size:22px">3rd Year Undergraduate<br> Bachelor of Technology (Expected 2021)<br>Indian Institute of Technology, Jodhpur<br></h1>

        <div class="col-sm-12">
          <hr class="my-4">
            <p class="lead" style="text-align:center;font-size:25px;margin-bottom:0px">INTERESTS</p>
            <div class="dropdown-divider" style="margin-top:0px;margin-left:40%;margin-right:40%;border-color:black"></div>

            <p class="lead" style="text-align: center;font-size:22px">
            Machine Learning<br>
            Android Application & Web Development<br>
            Data Structures & Algorithms<br>
            Game Development
            </p>
        </div>

				<div class="row">
					<div class="col-sm-6">
						<hr class="my-4">
							<p class="lead" style="text-align:center;font-size:25px;margin-bottom:0px">PREVIOUSLY WORKED ON</p>
							<div class="dropdown-divider" style="margin-top:0px;margin-left:25%;margin-right:25%;border-color:black"></div>

							<p class="lead" style="text-align:center;font-size:22px">
							Cryptography<br>
							Natural Language Processing<br>
							Graphical Comparison of Projectiles<br>
              Raspberry Pi<br>
              Android Studio<br>
              Data Structures and Algorithms<br>
              ReactJS, d3JS (JavaScript Frameworks)<br>
              Django<br>
              Flask
							</p>
					</div>
					<div class="col-sm-6">
							<hr class="my-4">
							<p class="lead" style="text-align:center;font-size:25px;margin-bottom:0px">CURRENTLY WORKING ON</p>
							<div class="dropdown-divider" style="margin-top:0px;margin-left:25%;margin-right:25%;margin-top:0px;border-color:black"></div>

							<p class="lead" style="text-align:center;font-size:22px">
							AngularJS (JavaScript Framework)<br>
							React Native<br>
							Ruby on Rails<br>
              Game Development
							</p>
					</div>
				</div>


			</div>
	</div>



			  <!-- <div class="container text-center"> -->
				<!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
				<!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
				<!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
				<!-- <a href="#"><i class="fa fa-github"></i></a> -->
				<!-- <a href="#"><i class="fa fa-skype"></i></a> -->
			  <!-- </div> -->


		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</body>
</html>
