<!doctype html>
<html lang="en" ng-app="portfolioApp">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

        <script type="text/javascript" src="./app.js"></script>
        <script type="text/javascript" src="./main-navbar.component.js"></script>

        <link rel="stylesheet" href="./main.css">

        <title>Shashwat Kathuria</title>

    </head>

<body background="./../images/i5.jpg" style="background-size: auto auto;">

    <main-navbar></main-navbar>

	<div class="jumbotron jumbotron-fluid" style = "margin-left:5%;margin-right:5%;background:rgba(200,200,200,0.8);color:black;">
			<div class="container">


				<h1 class="lead" style="font-size:40px;text-align:center">About Me</h1>
				<hr class="my-4">
				<p class="lead" style="text-align:center;font-size:25px;margin-bottom:0px">EDUCATION</p>
				<div class="dropdown-divider" style="margin-top:0px;margin-left:40%;margin-right:40%;border-color:black"></div>
				<h1 class="lead" style="text-align: center;font-size:22px">3rd Year Undergraduate<br> Bachelor of Technology (Expected 2021)<br>Indian Institute of Technology, Jodhpur<br></h1>

        <div class="col-sm-12">
          <hr class="my-4">
            <p class="lead" style="text-align:center;font-size:25px;margin-bottom:0px">INTERESTS</p>
            <div class="dropdown-divider" style="margin-top:0px;margin-left:40%;margin-right:40%;border-color:black"></div>

            <p class="lead" style="text-align: center;font-size:22px">
            Machine Learning<br>
            Android Application & Web Development<br>
            Data Structures & Algorithms<br>
            Game Development
            </p>
        </div>

				<div class="row">
					<div class="col-sm-6">
						<hr class="my-4">
							<p class="lead" style="text-align:center;font-size:25px;margin-bottom:0px">PREVIOUSLY WORKED ON</p>
							<div class="dropdown-divider" style="margin-top:0px;margin-left:25%;margin-right:25%;border-color:black"></div>

							<p class="lead" style="text-align:center;font-size:22px">
							Cryptography<br>
							Natural Language Processing<br>
							Graphical Comparison of Projectiles<br>
              Raspberry Pi<br>
              Android Studio<br>
              Data Structures and Algorithms<br>
              ReactJS, d3JS (JavaScript Frameworks)<br>
              Django<br>
              Flask
							</p>
					</div>
					<div class="col-sm-6">
							<hr class="my-4">
							<p class="lead" style="text-align:center;font-size:25px;margin-bottom:0px">CURRENTLY WORKING ON</p>
							<div class="dropdown-divider" style="margin-top:0px;margin-left:25%;margin-right:25%;margin-top:0px;border-color:black"></div>

							<p class="lead" style="text-align:center;font-size:22px">
							AngularJS (JavaScript Framework)<br>
							React Native<br>
							Ruby on Rails<br>
              Game Development
							</p>
					</div>
				</div>


			</div>
	</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</body>
</html>
