<nav class="navbar navbar-expand-lg navbar-dark bg-transparent" >
  <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <a class="navbar-brand" href="./index.html"><h2 class="lead">Shashwat Kathuria</h2></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link lead" href="./index.html" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link lead" href="./projects.html" >Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link lead" href="./resume.html" >Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link lead" href="./contact.html" >Contact</a>
            </li>

        </ul>
    </div>
  </div>
</nav>

<div class="dropdown-divider" id="firstDivider"></div>

<div>
  <div class="jumbotron jumbotron-fluid" style = "margin:0px;padding:0px;background:rgba(0,0,0,0);color:black;">
  <footer class="footer">
  </div>
       <div class="text-center" style="background-color:rgba(0,0,0,0)">
          <p class="lead" style="color:white;margin-bottom:0px" >Facebook:<a href="https://www.facebook.com/profile.php?id=1317973766" class="btn btn-social-icon btn-lg btn-facebook" style="color:white"><i class="fa fa-facebook"></i></a>
          GitHub:<a href="https://github.com/shashwatkathuria" class="btn btn-social-icon btn-lg btn-github" style="color:white"><i class="fa fa-github"></i></a>
          <br id="breakit">Email: kathuria.1@iitj.ac.in</p>
      </div>
  </footer>
</div>
<div class="dropdown-divider" id="secondDivider"></div>
