{%- include index.html -%}

	<div class="jumbotron jumbotron-fluid" style = "margin-left:5%;margin-right:5%;background:rgba(200,200,200,0.8);color:black;">
			<div class="container">

				
				<h1 class="lead" style="font-size:40px;text-align:center">About Me</h1>
				<hr class="my-4">
				<p class="lead" style="text-align:center;font-size:25px">EDUCATION</p>
				<h1 class="lead" style="font-size:35px">Sophomore, Bachelor of Technology,<br>Indian Institute of Technology, Jodhpur<br></h1>
				

				<br>
				<br>

				<hr class="my-4">
				<p class="lead" style="text-align:center;font-size:25px">INTERESTS</p>

				<p class="lead" style="font-size:30px">
				Deep Learning<br>
				Android Application & Web Development<br>
				Data Structures and Algorithms<br>
				Cryptography
				</p>

				<br>
				<br>

			</div>
	</div>


		
			  <!-- <div class="container text-center"> -->
				<!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
				<!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
				<!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
				<!-- <a href="#"><i class="fa fa-github"></i></a> -->
				<!-- <a href="#"><i class="fa fa-skype"></i></a> -->
			  <!-- </div> -->
			  
{%- include index2.html -%}